<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.domefavor.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name=".data.local.Provider"
            android:authorities="com.domefavor.android"
            android:exported="false"
            android:syncable="true" />

        <activity
            android:name=".features.favors.favorsFeed.FeedActivity"
            android:label="@string/title_activity_feed"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.favors.addFavor.AddFavor"
            android:label="@string/title_activity_add_favor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".features.authentication.register.SignInActivity"
            android:theme="@style/FullScreen"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>